body, html {
	height: 100%;
}

.containers {
	display: grid;
	grid-template-columns: 2fr 8fr
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
	font-size: 50px;
	letter-spacing: 2px;
	font-weight: bold;
}

.hero-text p {
	font-style: italic;
}

#right-container {
	background-color: #fedcd2;
}

#left-container {
	background-color: #caebf2;
}

#all-events {
	font-size: 50px;
}

.user-image {
	height: 80px;
}

#cart-card.card {
	height: 100px;
	text-align: center;
	left: 10px
}

.card {
	height: 550px;
	width: 200px;
	overflow: auto;
	float: left;
	margin: 20px;
}


#all-events, #profile-title, #users-events, #events-title, .user-profile {
	text-align: center;
}
