body {
	display: grid;
	grid-template-columns: 2fr 8fr
}

.user-image {
	height: 80px;
}

#cart-card {
	height: 100px;
	text-align: center;
}

.card {
	height: 550px;
	width: 200px;
	overflow: auto;
	float: left;
	margin: 20px;
}


#all-events, #profile-title, #users-events, #events-title, .user-profile {
	text-align: center;
}
