body {
	display: grid;
	grid-template-columns: 2fr 8fr
}

#right-container {
	background-color: #fedcd2;
}

#left-container {
	background-color: #caebf2;
}

#all-events {
	font-family: serif;
	font-size: 50px;
}

.user-image {
	height: 80px;
}

#cart-card.card {
	height: 100px;
	text-align: center;
	left: 10px
}

.card {
	height: 550px;
	width: 200px;
	overflow: auto;
	float: left;
	margin: 20px;
}


#all-events, #profile-title, #users-events, #events-title, .user-profile {
	text-align: center;
}
